=simple_form_for @user, html: { class: 'form-horizontal '} do |f|
  =f.input :name, label: "Name", input_html: {class: 'form-control'}
  =f.input :email, label: "E-mail", input_html: {class: 'form-control'}
  =f.input :password, label: "Password (min 6 characters)", input_html: {class: 'form-control'}
  =f.input :password_confirmation, label: "Password confirmation", input_html: {class: 'form-control'}



  %br/
  =f.button :submit, input_html: {class: 'btn-lg'}