#item
%div.center


  %h2 Item id#{@item.id}:
  %h3 Name:#{@item.name}
  %h3 Price:#{@item.price}
  %h3 Description:#{@item.description}

  - if current_user.admin?
    %h3=link_to 'Edit', edit_item_path
    %h3=link_to 'Delete', item_path, method: :delete, data: { confirm: "You sure" }
    %h3=link_to 'Back to items', items_path
